<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dms.tareosoft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.tareoEditar.tareoEditUser.EditarEmpleadosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareo_finalizar.finalizar_empleado.FinalizarEmpleadoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareo_resultado.resultadoPorEmpleado.ResultadoPorEmpleadoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareo_control.nuevo.ControlEmpleadoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareo_finalizar.finalizar_masivo.FinalizarMasivoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareoReubicar.tareo_reubicar_list_all_tareos.TareoReubicarListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareoNew.tareo_nuevo.NuevoTareoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareoEditar.tareoEditAdmin.EditarTareoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.fragments.settings.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.menu.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.activities.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareo_finalizar.finalizar_masivo.tareo_reubicar_masivo_list.TareoReubicarMasivoListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareo_finalizar.finalizar_masivo.tareo_reubicar_masivo_por_destajo.TareoReubicarMasivoPorDestajoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareoConsulta.tareo_consulta_details.TareoConsultaDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareo_resultado.resultadoPorTareo.ResultadoPorTareoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareoReubicar.tareo_segun_resultado.tareo_reubicar_tipo_empleado.ReubicarTipoEmpleadoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareoReubicar.tareo_segun_resultado.tareo_reubicar_tipo_tareo.ReubicarTipoTareoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.tareoNew.tareoNewNotEmployer.NewTareoNotEmployerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentation.activities.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activities.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <receiver android:name=".presentation.TimeChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>